.DesktopDetail, .DesktopDetail .row, .DesktopDetail div[class*='col'] {
	padding: 0px !important;
}

.DesktopDetail {
	background: black;
}

.DesktopDetail .row {
	margin: 0px;
}

.DesktopDetail .MovieContent {
	position: absolute;
	top: 31%;
	left: 480px;
	margin-left: 48px;
	margin-right: 48px;
}

.DesktopDetail .Rectangle {
	position: absolute;
	top: 0;
	left: 360px;
	width: 120px;
	height: 720px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000);
}

.DesktopDetail .Close {
	position: absolute;
	top: 32px;
	right: 83px;
}

.DesktopDetail .Back {
	opacity: 0.75;
	position: absolute;
	top: 0px;
	left: 24px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #ffffff;
	letter-spacing: normal;
}

.MobileDetail {
	color: white;
}

.MobileDetail .MovieContent {
	position: absolute;
	top: 43%;
	margin-left: 6.6%;
	margin-right: 6.6%;
}

.MobileDetail .Close {
	position: absolute;
	top: 24px;
	right: 24px;
}

.MobileDetail .Back {
	width: 312px;
	height: 40px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.25);
}

.MobileDetail .Back {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.MovieRatings {
	margin-top: 20px;
	display: inline-block;
}

.MovieSynopsis {
	margin-top: 32px
}
