/*html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: red
}

#root {
	margin: 0 auto;
    background-color: #e9eaed;
    width: 100%;
}


body {
	background: #696969;
	color: #ffffff;
}
*/