
#search-input {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 10px; right: 0;
    top: 20%;
    width: 80%;
    height: 32px;
    border-radius: 16px;
    border-color: black;
    background: url(../../atoms/Icon/icons/search.svg);
    background-position: 97%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.15);

    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

#search-input::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

#search-input:focus {
    background-color: rgba(255, 255, 255, 0.25);
}